USE [master]
GO
/****** Object:  Database [SE1740SP23]    Script Date: 3/8/2023 10:14:13 AM ******/
CREATE DATABASE [SE1740SP23]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SE1740SP23', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SE1740SP23.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SE1740SP23_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SE1740SP23_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE SQL_Latin1_General_CP1_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SE1740SP23].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SE1740SP23]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 3/8/2023 10:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[username] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[password] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[lastname] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[isAdmin] [bit] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Registration] ([username], [password], [lastname], [isAdmin]) VALUES (N'hutruc', N'123456', N'Hu Truc', 0)
INSERT [dbo].[Registration] ([username], [password], [lastname], [isAdmin]) VALUES (N'thuc', N'1234567', N'Trong Thuc', 0)
INSERT [dbo].[Registration] ([username], [password], [lastname], [isAdmin]) VALUES (N'my', N'123456', N'Diem My', 0)
GO
USE [master]
GO
